* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
div h3{
  text-transform: uppercase;
}
#header {
  height: 50px;
  background-color: blue;
}
.slide {
  height: 200px;
  background-color: greenyellow;
}
.container {
  display: flex;
}
.slide_bar {
  width: 30%;
  height: fit-content;
  background-color: aqua;
  margin-right: 10px;
}
.btn_list{
  display: flex;
  justify-content: space-between;
}
.btn{
  background: none;
  width: 33.33%;
  border: none;
  height: 50px;
  background-color: #e4e4e4;
}
.ex_active:active{
  background-color: #f9f9f9;
}
.toplist{
}
.list{
  justify-content: space-around;
  display: flex;
}
.number{
  font-size: 50px;
  line-height: 100px;
}
.number1{
  color: blue;
}
 h2{
   margin-bottom: 40px;
 }
 .list span{
 }
.main-content {
  width: 70%;
  height: fit-content;
  background-color: #f9f9f9;
  position: relative;
  display: flex;
  flex-direction: column;
}
.nav-comic-type {
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: #e4e4e4;
}

.nav-comic-type>button {
  background: none;
  border: none;
  cursor: pointer;
  transform: 0.4s;
  width: 230px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.4s;
}

.nav-comic-type>button:hover {
  background-color: #f9f9f9;
}

.wrapper_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: fit-content;
}

.img_comic > img {
  margin-top: 10px;
  height: 300px;
  width: 200px;
  border-radius: 10px;
}
.img_comic {
  position: relative;
  text-align: center;
}
.img_comic:hover .summary {
  visibility: visible;
  opacity: 1;
}

.img_comic .rate > span {
  color: #e4e4e4;
  line-height: 30px;
  padding: 0px 5px;
}
.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f9f9f9;
  color: #333;
  width: 270px;
  height: fit-content;
  position: absolute;
  top: 10px;
  right: -190px;
  z-index: 1;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 4px rgba(122, 122, 122, 0.75);
  pointer-events: none;
}
.summary > p {
  text-align: left;
}
.summary > img {
  width: 100px;
  height: auto;
  margin: auto;
  border: solid 1px #707070;
}
.summary-left{
  width: 200px;
  right: 200px;
}
.rate {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 200px;
  position: relative;
  bottom: 34px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotateY(180deg);
}
.rate input {
  display: none;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #f9f9f9;
}
.rate > input:checked ~ label {
  color: #f9f9f9;
}
.rate label {
  font-size: 25px;
  transition: all 0.2 ease;
  line-height: 30px;
}
section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name_comic {
  height: fit-content;
  width: 100%;
  margin-bottom: 20px;
}

.name_comic > h3 {
  height: 44px;
  text-align: center;
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.new_chap {
  padding: 0 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}
.new_chap_link:hover {
  text-decoration: underline;
}

.new_chap_link {
  text-transform: capitalize;
}

.new_chap > span {
  display: block;
  margin-bottom: 5px;
}
.hour {
  text-align: right;
  color: #333;
}
#codai{
  visibility: hidden;
  opacity: 0;
  top: 50px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color:#f9f9f9;
  transition: 0.5s;
}

#manhua{
  visibility: hidden;
  opacity: 0;
  top: 50px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color:#f9f9f9;
  transition: 0.5s;
}

#ngontinh{
  visibility: hidden;
  opacity: 0;
  top: 50px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color:#f9f9f9;
  transition: 0.5s;
}

#thieunhi{
  visibility: hidden;
  opacity: 0;
  top: 50px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color:#f9f9f9;
  transition: 0.5s;
}

#dammy{
  visibility: hidden;
  opacity: 0;
  top: 50px;
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color:#f9f9f9;
  transition: 0.5s;
}

#default-btn {
  background-color: #f9f9f9;
}

#all-type {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

